@charset "UTF-8";

@media (max-width: 1280px) {
  #main-item h1 {
    font-size: 170px;
  }
}

@media (max-width: 1030px) {
  #main-item h1 {
    font-size: 160px;
  }
}

@media (max-width: 960px) {
  #main-item h1 {
    font-size: 150px;
  }
}

@media (max-width: 860px) {
  #main-item h1 {
    font-size: 140px;
    letter-spacing: -15px;
  }
}

@media (max-width: 760px) {
  #header-items {
    width: 85vw;
  }
  #main-item h1 {
    font-size: 130px;
    letter-spacing: -15px;
  }
}

@media (max-width: 670px) {
  header {
    margin-top: 20px;
  }
  #header-items {
    width: 90vw;
  }
}

@media (max-width: 630px) {
  #main-item h1 {
    font-size: 125px;
  }
}

@media (max-width: 600px) {
  #main-item {
    margin-top: 60px;
  }
  #main-item h1 {
    font-size: 120px;
  }
}

@media (max-width: 550px) {
  #header-items {
    width: 92vw;
  }

  #main-item {
    margin-top: 60px;
  }
  #main-item h1 {
    font-size: 110px;
    letter-spacing: -12px;
  }

  #path {
    margin-top: 50px;
  }

  #path-options {
    width: 350px;
  }
}

@media (max-width: 515px) {
  #header-items {
    width: 95vw;
  }

  #main-item {
    display: none;
  }

  #main-item-subtitle {
    display: none;
  }

  #mobile-main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #mobile-main-photo {
    width: 320px;
    height: 400px;
    background-color: black;
    background-image: url(../images/unwiredo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 5px 5px black;
  }

  #path-options {
    width: 320px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  #mobile-main-photo {
    width: 280px;
    height: 340px;
  }

  #path-options {
    width: 280px;
    justify-content: space-around;
    font-size: 15.5px;
  }

  #contact {
    display: none;
  }
}
