@charset "UTF-8";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#personal-general {
  width: 900px;
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#personal-photo {
  background-image: url(../images/unwiredoo.jpg);
  width: 350px;
  height: 400px;
  background-position: center;
  background-size: cover;
  box-shadow: 7px 7px black;
  border: 3px solid black;
}

#personal-info {
  width: 400px;
}

#personal-info-text {
  border-left: 3px solid black;
  padding-left: 20px;
}

#personal-info p {
  font-size: 20px;
}

#more-info-link {
  margin-top: 30px;
}

#more-info-link a {
  padding: 6px;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  font-size: 15px;
  transition: 0.6s;
}

#more-info-link a:hover {
  background-color: black;
  color: white;
  font-size: 16px;
  box-shadow: 5px 5px black;
}

#life-topics {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.life-topic {
  margin: 10px 0 10px 0;
  width: 900px;
  padding: 8px;
  border: 3px solid black;
  box-shadow: 5px 5px black;
  background-color: #b6b6b6;
}

.life-topic h3 {
  font-size: 18px;
  font-weight: 500;
}
