@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font1: "Poppins", sans-serif;
    --font2: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: var(--font1);
    box-sizing: border-box;
}

header{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

#header-items{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.social-logo{
    margin: 0 5px 0 5px;
    transition: transform 0.4s ease;
}

.social-logo:hover{
    transform: scale(1.1);
}

.menu-button{
    border: none;
    transition: 0.6s;
    cursor: none;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}

.menu-button:hover{
    transform: scale(1.09);
}

.menu-button svg{
    transition: 0.6s;
    border-radius: 50%;
}

.menu-button svg:hover{
    fill: rgb(255, 255, 255);
    background-color: black;
    border-radius: 50%;
}

#burguer-menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(227, 227, 227, 0.875);
    backdrop-filter: blur(3px);
    box-shadow: -1px 0px rgb(0, 0, 0);
    border-left: 2px solid black;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#burguer-menu ul li{
    width: 300px;
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
}

#burguer-menu ul li:hover{
    border-top: 2px solid rgb(132, 132, 132);;
    border-bottom: 2px solid rgb(132, 132, 132);;
}

#burguer-menu ul li a{
    transition: 0.3s color ease-out;
}

#burguer-menu ul li a:hover{
    color: rgb(132, 132, 132);
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-item{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

#main-item h1{
    font-family: var(--font2);
    letter-spacing: -20px;
    font-size: 200px;
    cursor: default;
}

#main-item-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    font-weight: 100;
    font-size: 20px;
    cursor: default;
}

#path{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#path-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 450px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
}

.path-option a{
    color: black;
    transition: color 0.3s ease;
}

.path-option:hover a{
    color: rgb(138, 138, 138);
}

footer{
    height: 40vh;
    display: flex;
    align-items: end;
    justify-content: center;
}


/*Toggles*/

#burguer-menu.open{
    display: flex;
}

#close-menu{
    background-color: rgba(243, 243, 243, 0);
    background-image: url(../images/close.svg);
    background-size: cover;
    margin: 15px 12px 15px 12px;
    padding: 3px;
    width: 35px;
    height: 35px;
    border-radius: 0px;
    border: 3px solid black;
    transition: 0.3s background ease-in-out;
}

#close-menu:hover{
    cursor: none;
    background-color: rgb(200, 132, 132);
}